__pycache__/
*.py[cod]
.venv/
*.egg-info/
build/
dist/
.local/
.research/
.xsave-backups/
.env
*.kv
KeyVault*
keyvault*
CPUKey*
*.bin
*.pem
*.key
*.pfx
*.dat
*.header
*.zip
*.con
*.pkg
*.exe
*.dll
*.xex
*.iso
*.log
